.searchBarStyles {
    border: 5px solid black;
    border-radius: 50px;
    margin: 25px;
    text-shadow: 2px 2px rgba(255, 255,255, 0.5);
}

.search-container {
    margin: auto;
    padding: 20px;
}

#search-header {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    background-blend-mode: luminosity;
    border-radius: 10px;
}

#search-bar {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    width: 100%;
    border: 2px double black;
    border-radius: 50px;
    padding: 10px;    
}